body {
    margin: 0;
    padding: 0;
    background:rgb(98, 154, 98);
  }
  
  .game {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(98, 154, 98);
    margin: 0 25%;
  }
  
  .peg {
    width: 30px;
    height: 300px;
    background: whitesmoke;
    position: absolute;
    margin: 40px;
    border-radius: 10%;
  }
  
  .disk {
    width: 80px;
    height: 200px;
    background: pink;
    margin: 10px;
    border-radius: 5%;
    position: absolute;
  }
